h2, span{
  font-family: arial, sans-serif;
  font-size: 2rem;
  display: inline-block;
}

.box {
  height: 400px;
  width: 400px;
}

#selectedColor{
  padding: 10px;
  color: #fff;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}